@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #262626; /* neutral-800 */
  --secondary: #171717; /* neutral-900 */
  --tertiary: #404040; /* neutral-700 */
  --color: #f3f3f3;
  --accent-primary: #22d3ee; /* cyan-400 */
  --accent-primary-state: #06b6d4; /* cyan-500 */

  --bg-size: 0%;
}

.loader {
  @apply relative inline-block text-3xl text-color md:text-4xl lg:text-5xl;
}

.loader:before {
  @apply absolute -bottom-1 h-2 w-full rounded-xl border border-color md:-bottom-2 md:h-3 lg:-bottom-[0.85rem] lg:h-4;
  content: '';
  background: linear-gradient(var(--accent-primary) 100%, transparent 0)
    no-repeat;
  background-size: var(--bg-size) auto;
}

.loader:after {
  @apply relative;
  content: 'Loading';
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 500ms;
}

.show {
  animation: show 500ms linear forwards;
}

.show:nth-child(2) {
  animation-delay: 100ms;
}

.show:nth-child(3) {
  animation-delay: 200ms;
}

.show:nth-child(4) {
  animation-delay: 300ms;
}

.show:nth-child(5) {
  animation-delay: 400ms;
}

@keyframes show {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
