@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #262626; /* neutral-800 */
  --secondary: #171717; /* neutral-900 */
  --tertiary: #404040; /* neutral-700 */
  --color: #f3f3f3;
  --accent-primary: #2563eb; /* blue-600 */
  --accent-primary-state: #1e40af; /* blue-800 */

  --bg-size: 0%;
}

.loader {
  @apply relative inline-block text-4xl text-color;
}
.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}
.loader:before {
  content: '';
  height: 8px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  background: linear-gradient(var(--accent-primary) 100%, transparent 0)
    no-repeat;
  background-size: var(--bg-size) auto;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 500ms;
}

.show {
  animation: show 500ms linear forwards;
}

@keyframes show {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
